---
layout: base
title: Getting Started With Seam 3 using the Confbuzz Example -- Config
---
-#
  Describe the setup, where the file goes and mention it's convention to use
  seam-beans.xml instead of beans.xml

  May be a good idea to briefly explain what the file is doing.

