---
layout: base
title: Getting Started With Seam 3 using the Confbuzz Example -- Security
---
-#
  Talk about setup, how credentials are on the Indentity, make sure to use
  the annotations, it's much better than it guessing based on the names of
  the columns.

  Mention that configuration of the objects will be discussed in the config
  section

  Point out the use of the named objects in the mainLayout.xhtml view, briefly
  describe how they work.
