---
layout: base
title: Home
---

.block
  .column.span-24
    %h2 The Seam Framework - Next generation enterprise Java development 

.block 
  .column.span-17
    :markdown
      Seam is a powerful open source development platform for building rich Internet applications in Java. Seam integrates 
      technologies such as Asynchronous JavaScript and XML (AJAX), JavaServer Faces (JSF), Java Persistence (JPA), Enterprise 
      Java Beans (EJB 3.0) and Business Process Management (BPM) into a unified full-stack solution, complete with 
      [sophisticated tooling](http://jboss.org/tools).

      Seam has been designed from the ground up to eliminate complexity at both architecture and API levels. It enables developers 
      to assemble complex web applications using simple annotated Java classes, a rich set of UI components, and very little XML. 
      Seam's unique support for conversations and declarative state management can introduce a more sophisticated user experience 
      while at the same time eliminating common bugs found in traditional web applications.
  .column.span-7.last
    %img{:src=>"http://www.sfwk.org/themes/sfwkorg/img/seam_icon_large.png", :width=>"196", :height=>"160"}

.block
  .column.span-10
    :markdown 
      ### Learn more
      To find out more about Seam, read [this introduction](http://docs.jboss.com/seam/latest/reference/en-US/html/Book-Preface.html) 
      and check out some [tutorial code examples](http://docs.jboss.com/seam/latest/reference/en-US/html/tutorial.html). If you're 
      evaluating Seam, please see our [answers to frequently asked questions](http://www.seamframework.org/Documentation/FAQsOverview/Category/ProductEvaluation).

      If you are a new Seam user, follow [this roadmap]() to get started quickly. If you want to contribute to Seam, register on this 
      website and join the [Seam Community](). If you are interested in development of Seam, see the [list of open issues and tasks by priority]().

      Seam is licensed under the terms of the LGPL. Full commercial support is [available](http://jboss.com/products/platforms/application). 
      Eclipse-based tooling for Seam applications is provided by [JBoss Tools](http://jboss.org/tools).

  .column.span-10.last
    :markdown
      ### Reinvesting in Java EE
      Seam is based on the Java EE platform. That's why reinvestment in Java EE standards is crucial to Seam's future. Many ideas 
      which originated in the Seam ecosystem are being contributed back to the Java EE specification by Red Hat, being refined 
      in the process. The most notable initiative is [JSR-299: Java Context and Dependency Injection](). This website is home of 
      the reference implementation, [Weld](http://seamframework.org/Weld). Check out the [development](http://seamframework.org/Weld/Development) 
      page to get involved. The Seam community also has lots of ideas for [JSF 2.0](Documentation|JSF2) and [JSF 2.1](), so check 
      out those pages to keep up with the proposals.
// TODO: Add feeds
