
.block
  #footer
    .column.span-9
      %h3 Tutorials
      %ul.nav
        %li
          %a{:href=>'/tutorial/index.html'} Getting Started With Seam 3 using the Confbuzz Example
    .column.span-9.last
      %h3 Modules
      %ul.nav
        - site.pages.find_all { |p| p if p.source_path =~ /module/ and p.is_a?(Awestruct::FrontMatterFile)}.each do |m|
          %li
            %a{:href=>m.output_path}
              #{m.title}
