%html
  %head
    %title
      #{site.title}: #{page.title}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    %script{:type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' }
    %script{:type=>'text/javascript', :src=>'http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js' }
    :javascript
      $( function () {
        var syntax_root = "/javascripts/jquery-syntax/"

        if (!$.browser.msie && $( '.syntax' ).length) {
          $.getScript( syntax_root + "jquery.syntax.min.js", function () {
            $.syntax( {root: syntax_root,
                      blockLayout: 'list'} )
          } )
        }

        $(".toolTipLink").tooltip({
          position: 'top right',
          effect: 'slide'
        }).dynamic({ bottom: { direction: 'down', bounce: true } });
      } )
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }
  %body.bp
    .container
      ~ content
      = partial('bottom_nav.html.haml')
